body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    
    padding: 15px 200px;
} 

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.htext {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    display: flex;
}

ul {
    list-style-type: none;
    gap: 15px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.heading {
    max-width: 700px;
    height: 300px;
}

h1 {
    margin: 0;
    padding-bottom: 15px;
    font-size: 48px;
    color: #F9FAF8;
}



.otext {
    font-size: 20px;
    color: #E5E7EB;
    padding-bottom: 20px;
    
}

button {
    background-color: #3882F6;
    padding: 7px 10px;
    color: #E5E7EB;
    border-radius: 6px;
    font-size: 18px;
}