body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    padding: 15px 200px;
} 

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.htext {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 75px;
}

.links {
    font-size: 18px;
    display: flex;
    padding-right: 75px;
}

ul {
    list-style-type: none;
    gap: 15px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.heading {
    max-width: 700px;
    height: 300px;
}

h1 {
    margin: 0;
    padding-bottom: 15px;
    font-size: 48px;
    color: #F9FAF8;
}



.otext {
    font-size: 20px;
    color: #E5E7EB;
    padding-bottom: 20px;
    
}

button {
    background-color: #3882F6;
    padding: 7px 10px;
    color: #E5E7EB;
    border-radius: 6px;
    font-size: 18px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rtext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
    padding: 40px;
}


.kubik {
    display: flex;
    gap: 50px;
    padding-bottom: 80px;
}

.square {
    width: 250px;
    height: 250px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.info {
    max-width: 250px;
    color: #1F2937;
}

.thor {
    height: 420px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    
}

.retor {
    max-width: 1174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
}



.author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bolder;
    padding-right: 40px;
}